{% load static %}
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="/"><img src="{% static 'img/ncps-logo.jpeg' %}" alt="logo"></a>
                    </div>
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        
                        <li class="nav-item">
                            <a href="/dashboard" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                            <ul class="nav sub-group-menu">
                                                              
                                <li class="nav-item">
                                    <a href="{% url 'student-register' %}" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Admission Form</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'student-list' %}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Students</a>
                                </li>  
                                <li class="nav-item">
                                    <a href="{% url 'add-students-marks' %}" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add Student Marks
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'all-student-marksheet' %}" class="nav-link">
                                        <i class="fas fa-angle-right"></i>All Student's Result
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'test_marks_entry' %}" class="nav-link">
                                        <i class="fas fa-angle-right"></i> Add Student Test Marks
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'all_student_test_marksheet' %}" class="nav-link">
                                        <i class="fas fa-angle-right"></i>All Student's Test Result
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'student-promotion' %}" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Student Promotion</a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'admit-card' %}" class="nav-link"><i class="flaticon-dashboard"></i><span>Admit Cards</span></a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-multiple-users-silhouette"></i><span>Teachers</span></a>
                            <ul class="nav sub-group-menu">
                                 <li class="nav-item">
                                    <a href="{% url 'add-teacher' %}" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Teacher</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'all-teacher' %}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                        Teachers</a>
                                </li>                                
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-couple"></i><span>Transfer Certificate</span></a>
                            <ul class="nav sub-group-menu">
                                 <li class="nav-item">
                                    <a href="{% url 'tc-create' %}" class="nav-link"><i class="fas fa-angle-right"></i>Create
                                        T C</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'tc-list' %}" class="nav-link"><i class="fas fa-angle-right"></i>List of
                                        T C</a>
                                </li>
                            </ul>
                        </li>
                        
                        
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-technological"></i><span>Fees</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="{% url "academic-fee-add" %}" class="nav-link"><i class="fas fa-angle-right"></i>Create Fees Structure</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "academic-fee-list" %}" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Fess Details</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "fee_receipt_create" %}" class="nav-link"><i class="fas fa-angle-right"></i>Create Fee Receipt</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "fee_receipt_list" %}" class="nav-link"><i class="fas fa-angle-right"></i>Fee Receipt List</a>
                                </li>
                            </ul>
                        </li> 
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="{% url 'class-list' %}" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                        Class</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Subject</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="{% url "create_subject" %}" class="nav-link"><i class="fas fa-angle-right"></i> Create Subject</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "subject_list" %}" class="nav-link"><i class="fas fa-angle-right"></i> Subject List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Academic Sessions</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="{% url "academic_session_create" %}" class="nav-link"><i class="fas fa-angle-right"></i>Create Sessions</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "academic_session_list" %}" class="nav-link"><i class="fas fa-angle-right"></i> Sessions List</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="{% url "exam_create" %}" class="nav-link"><i class="fas fa-angle-right"></i>Create Exam</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "exam_list" %}" class="nav-link"><i class="fas fa-angle-right"></i> Exam List</a>
                                </li>
                            </ul>
                        </li>
                       
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Attendence</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="{% url "take_attendance" %}" class="nav-link"><i class="fas fa-angle-right"></i>Take Attendence</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "attendance_report" %}" class="nav-link"><i class="fas fa-angle-right"></i>Attendence
                                        Report</a>
                                </li>
                            </ul>
                        </li>
                                              
                       
                       
                        
                       
                        
                    </ul>
                </div>
            </div>