{% extends 'base2.html' %} {% block content %}
<div id="wrapper" class="wrapper bg-ash">
  <!-- Header Menu Area Start Here -->
  {% include "tags/header.html" %}
  <!-- Header Menu Area End Here -->

  <!-- Page Area Start Here -->
  <div class="dashboard-page-one">
    <!-- Sidebar Area Start Here -->
    {% include "tags/sidebar.html" %}
    <!-- Sidebar Area End Here -->
    <div class="dashboard-content-one">
      <!-- Breadcubs Area Start Here -->
      {% include "tags/breadcrumb.html" %}
      <!-- Breadcubs Area End Here -->

      <!-- Admit Form Area Start Here -->
       
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-3">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                      <span>&times;</span>
                  </button>
              </div>
          {% endfor %}
      {% endif %}
      <div class="card height-auto">
        <div class="card-body">
          <div class="heading-layout1">
            <div class="item-title">
              <h3>{{page_title}}</h3>
            </div>
          </div>
          <div class="row">
          <div class="container-fluid new-added-form">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                  Academic & Personal Details
                </div>
                <div class="card-body">
                  <div class="row">
                    {% for field in student_form %}
                    <div class="col-xl-4 col-lg-6 col-12 form-group">
                      <label>{{ field.label }}</label>
                      {{ field }}
                      <small class="text-danger">{{ field.errors }}</small>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group">
                  <div class="card mb-4">
                    <div class="card-header bg-secondary text-white">
                      Address
                    </div>
                    {% comment %} <div class="card-body">{{ perm_addr_form.as_p }}</div> {% endcomment %}
                     <div class="card-body">

                      <div class="row">
                          <div class="col-md-6 mb-3">
                              {{ perm_addr_form.address_line.label_tag }}
                              {{ perm_addr_form.address_line }}
                              <small class="text-danger">
                                  {{ perm_addr_form.address_line.errors }}
                              </small>
                          </div>

                          <div class="col-md-6 mb-3">
                              {{ perm_addr_form.post_office.label_tag }}
                              {{ perm_addr_form.post_office }}
                              <small class="text-danger">
                                  {{ perm_addr_form.post_office.errors }}
                              </small>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6 mb-3">
                              {{ perm_addr_form.district.label_tag }}
                              {{ perm_addr_form.district }}
                              <small class="text-danger">
                                  {{ perm_addr_form.district.errors }}
                              </small>
                          </div>

                          <div class="col-md-6 mb-3">
                              {{ perm_addr_form.pin_code.label_tag }}
                              {{ perm_addr_form.pin_code }}
                              <small class="text-danger">
                                  {{ perm_addr_form.pin_code.errors }}
                              </small>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6 mb-3">
                              {{ perm_addr_form.state.label_tag }}
                              {{ perm_addr_form.state }}
                              <small class="text-danger">
                                  {{ perm_addr_form.state.errors }}
                              </small>
                          </div>

                          <div class="col-md-6 mb-3">
                              {{ perm_addr_form.nationality.label_tag }}
                              {{ perm_addr_form.nationality }}
                              <small class="text-danger">
                                  {{ perm_addr_form.nationality.errors }}
                              </small>
                          </div>
                      </div>

                  </div>
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <div class="form-check mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="id_same_as_permanent"
                    />
                    <label class="form-check-label">
                      Local Address is same as Permanent
                    </label>
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <div class="card mb-4">
                    <div class="card-header bg-secondary text-white">
                      Local Address
                    </div>
                    {% comment %} <div class="card-body">{{ local_addr_form.as_p }}</div> {% endcomment %}
                     <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ local_addr_form.address_line.label_tag }}
                                {{ local_addr_form.address_line }}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ local_addr_form.post_office.label_tag }}
                                {{ local_addr_form.post_office }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ local_addr_form.district.label_tag }}
                                {{ local_addr_form.district }}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ local_addr_form.pin_code.label_tag }}
                                {{ local_addr_form.pin_code }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ local_addr_form.state.label_tag }}
                                {{ local_addr_form.state }}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ local_addr_form.nationality.label_tag }}
                                {{ local_addr_form.nationality }}
                            </div>
                        </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="">
                <button type="submit" class="btn btn-success btn-lg px-5">
                  Submit Admission
                </button>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>

      <!-- Admit Form Area End Here -->

      <!-- Footer Area Start Here -->
      {% include "tags/footer.html" %}
      <!-- Footer Area End Here -->
    </div>
  </div>
  <!-- Page Area End Here -->
</div>
<script>
  document
    .getElementById("id_same_as_permanent")
    .addEventListener("change", function () {
      if (this.checked) {
        // Copy fields from 'perm' prefix to 'local' prefix
        const fields = [
          "address_line",
          "post_office",
          "district",
          "pin_code",
          "state",
          "nationality",
        ];
        fields.forEach((f) => {
          document.querySelector(`[name="local-${f}"]`).value =
            document.querySelector(`[name="perm-${f}"]`).value;
        });
      }
    });
</script>
{% endblock content %}
