{% extends 'base4.html' %} 
{% block content %}
    <div id="wrapper" class="wrapper bg-ash">
       <!-- Header Menu Area Start Here -->
        {% include "tags/header.html" %}
        <!-- Header Menu Area End Here -->
         
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% include "tags/sidebar.html" %}
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                {% include "tags/breadcrumb.html" %}
                <!-- Breadcubs Area End Here -->

               <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>{{page_title}}</h3>
                            </div>
                        </div>
                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Roll ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Name ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Class ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Class</th>
                                        <th>Date of Birth</th>
                                        <th>Father' Name</th>                                        
                                        <th>Contact Number</th>
                                        <th>Address</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="student_photo">
                                        {% if student.student_photo %}
                                            <img
                                                src="{{ student.student_photo.url }}"
                                                alt="student"
                                                width="50"
                                                height="50"
                                            >
                                        {% else %}
                                            <img src="/media/teachers/student2.png" alt="teacher" width="50" height="50">
                                        {% endif %}
                                    </td>
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.gender }}</td>
                                    <td>{{ student.admission_class }}</td>
                                    <td>{{ student.date_of_birth|date:"d/m/Y" }}</td>
                                    <td>{{ student.father_name }}</td>                                    
                                    <td>{{ student.contact_number }}</td>
                                    <td>{{ student.permanent_address.address_line }}</td>
                                    <td>
                                        {% if student.id %}
                                            <a href="{% url 'student-details' student.pk %}" class="btn btn-sm btn-info">Details</a>
                                            <a href="{% url 'student-update' student.pk %}" class="btn btn-sm btn-warning">Edit</a>
                                            <a href="{% url 'student_fee_dashboard' student.pk %}" class="btn btn-sm btn-warning">Fee</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No students found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                                    
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
                
                <!-- Footer Area Start Here -->
                {% include "tags/footer.html" %}
                <!-- Footer Area End Here -->
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
{% endblock content %}
