

{% extends 'base4.html' %} 
{% block content %}
    <div id="wrapper" class="wrapper bg-ash">
       <!-- Header Menu Area Start Here -->
        {% include "tags/header.html" %}
        <!-- Header Menu Area End Here -->
         
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% include "tags/sidebar.html" %}
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                {% include "tags/breadcrumb.html" %}
                <!-- Breadcubs Area End Here -->
<div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Subject List</h3>
                            </div>
                        </div>
               

                    <div class="table-responsive">
                            <table class="table display data-table text-nowrap">

                        <thead>
                            <th>#</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Order</th>
                    <th>Test Marks</th>
                    <th>Written Marks</th>
                        </thead>

                        {% for subject in subjects %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ subject.student_class.name }}</td>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.order }}</td>
                    <td>{{ subject.max_test_marks }}</td>
                    <td>{{ subject.max_written_marks }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-muted">
                        No subjects found
                    </td>
                </tr>
                {% endfor %}

                    </table>
                </div>
                </div>
                </div>
                
                <!-- Footer Area Start Here -->
                {% include "tags/footer.html" %}
                <!-- Footer Area End Here -->
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
{% endblock content %}

